/* .backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background: white;
  padding: 24px;
  border-radius: 12px;
  max-width: 800px;
  width: 90%;
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
}

.closeBtn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  cursor: pointer;
}

.header {
  display: flex;
  gap: 20px;
  margin-bottom: 16px;
}

.photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.reviews {
  margin-top: 24px;
}

.review {
  margin-bottom: 16px;
  padding: 12px;
  background: #f5f5f5;
  border-radius: 8px;
}

.appointmentBtn {
  margin-top: 24px;
  padding: 12px 24px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
} */

.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  position: relative;
}

.header {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  position: relative;
}

.photo {
  width: 120px;
  height: 120px;
  border-radius: 20%;
}

.info {
  flex: 1;
}

.title {
  color: #54be96;
  font-weight: 500;
}

.name {
  margin: 5px 0;
  font-size: 20px;
}

.tags {
  display: flex;
  gap: 10px;
  font-size: 14px;
  margin-bottom: 5px;
}

.ratingWrap {
  display: flex;
  gap: 15px;
}

.ratingPrice {
  display: flex;
  flex-direction: row;
  text-align: right;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: bold;
}

.price {
  color: green;
  font-weight: bold;
}

.heartBtn {
  /* position: absolute; */
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: white;
  stroke: black;
}

.about {
  margin-top: 15px;
  font-size: 14px;
  color: #666;
}

.readMore {
  margin-top: 10px;
  align-self: flex-start;
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  color: #000;
}
.iconStar {
  width: 16px;
  height: 15px;
  background-color: #ffc531;
}

.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background: white;
  padding: 24px;
  border-radius: 12px;
  max-width: 800px;
  width: 90%;
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
}

.closeBtn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  cursor: pointer;
}
