.container {
  position: relative;
}

.statBadge {
  position: absolute;
  top: 340px;
  right: 320px;
}

.blockSvgRight {
  position: absolute;
  top: 180px;
  right: 450px;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  background: #4535af;
  transform: rotate(-15deg);
}
.blockSvgLeft {
  position: absolute;
  top: 60px;
  right: -30px;
  border-radius: 10px;
  width: 48px;
  height: 48px;
  background: #fbc75e;

  transform: rotate(15deg);
}
