.block {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 311px;
  height: 118px;
  border-radius: 20px;
  width: 311px;
  height: 118px;
  background: #54be96;
}

.wrapSvg {
  border-radius: 13px;
  width: 54px;
  height: 54px;
  background: #fbfbfb;
  margin: 32px 16px 32px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textBlock {
  display: flex;
  flex-direction: column;
  width: 177px;
  height: 57px;
}

.textOne {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: rgba(251, 251, 251, 0.5);
  width: 177px;
  height: 17px;
}

.textSecond {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  color: #fbfbfb;
  width: 83px;
  height: 29px;
}
