.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  position: relative;
}

.header {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  position: relative;
}

.photo {
  width: 100px;
  height: 100px;
  border-radius: 30%;
}

.info {
  flex: 1;
}

.title {
  color: #54be96;
  font-weight: 500;
}

.name {
  margin: 5px 0;
  font-size: 20px;
}

.tags {
  display: flex;
  gap: 10px;
  font-size: 14px;
  margin-bottom: 5px;
}

.ratingWrap {
  display: flex;
  gap: 15px;
}

.ratingPrice {
  display: flex;
  flex-direction: row;
  text-align: right;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: bold;
}

.price {
  color: green;
  font-weight: bold;
}

.heartBtn {
  /* position: absolute; */
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: white;
  stroke: black;
}

.about {
  margin-top: 15px;
  font-size: 14px;
  color: #666;
}

.readMore {
  margin-top: 10px;
  align-self: flex-start;
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  color: #000;
}
.iconStar {
  width: 16px;
  height: 15px;
  background-color: #ffc531;
}
