.nav {
  display: flex;
  flex-direction: row;
  gap: 40px;
  font: 400 16px / 125% var(--font-family);
  letter-spacing: -0.01em;
  color: #191a15;
}

.nav a {
  color: #191a15;
  text-decoration: none;
  font-weight: 500;
}

.nav a.active {
  text-decoration: underline;
}
.link {
  position: relative;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #191a15;
  padding: 4px 0;
}
.active::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  background-color: #54be96;
  border-radius: 50%;
}
