.nav {
  display: flex;
  flex-direction: row;
  gap: 40px;
  font: 400 16px / 125% var(--font-family);
  letter-spacing: -0.01em;
  color: #191a15;
}

.nav a {
  color: #191a15;
  text-decoration: none;
  font-weight: 500;
}

.nav a.active {
  text-decoration: underline;
}
