.blockFirst {
  display: flex;
  flex-direction: column;
  width: 595px;
  height: 438px;
  margin-left: 128px;
  margin-top: 222px;
  margin-bottom: 148px;
  gap: 40px;
}

h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 80px;
  line-height: 102%;
  letter-spacing: -0.02em;
  color: #191a15;
  margin: 0;
  span {
    font-style: italic;
    color: #54be96;
  }
}

p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: #191a15;
  margin: 0;
}

.sectionFirst {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttonStarted {
  display: flex;
  flex-direction: row;
  gap: 18px;
  border-radius: 30px;
  padding: 18px 50px;
  width: 235px;
  height: 60px;
  background: #54be96;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonStarted:hover {
  background-color: #36a379;
  cursor: pointer;
}
